{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Courses | Education</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/hamburgers.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>
<!--? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="{% static 'assets/img/logo/loder.png' %}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<!-- Header Start -->
{% include 'includes/navbar.html' %}
<!-- Header End -->
<main>
    <!--? slider Area Start-->
    <section class="slider-area slider-area2">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-11 col-md-12">
                            <div class="hero__caption hero__caption2">
                                <h1 data-animation="bounceIn" data-delay="0.2s">Company insights</h1>
                                <!-- breadcrumb Start-->
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item"><a href="#">Blog</a></li>
                                    </ol>
                                </nav>
                                <!-- breadcrumb End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--? Blog Area Start -->
    <section class="blog_area single-post-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post">
                        <video controls="controls" poster="{{ course.course_media.image.url }}" width="500"
                               height="500">
                            <source src="{{ course.course_media.video.url }}" typeof="video/mp4">
                        </video>
                        <div class="blog_details">
                            <h2 style="color: #2d2d2d;">
                                {{ course.title }}
                            </h2>
                            <ul class="blog-info-link mt-3 mb-4">
                                <li><a href="{% url 'user_profile' course.owner.id %}"><i class="fa fa-user"></i>{{ course.owner }}</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                            </ul>
                            <p class="excert">
                                {{ course.description }}
                            </p>
                        </div>
                        {% if user.is_authenticated and user == course.owner %}
                        <a href="{{ course.get_update }}" class="genric-btn info-border radius">Update</a>
                        <a href="{{ course.get_delete }}" class="genric-btn danger-border radius">Delete</a>
                        {% else %}
                        {% endif %}
                    </div>
                    <div class="navigation-top">
                        <div class="d-sm-flex justify-content-between text-center">
                            <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and
                                4
                                people like this</p>
                            <div class="col-sm-4 text-center my-2 my-sm-0">
                                <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                            </div>
                            <ul class="social-icons">
                                <li><a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="comments-area">
                        <h4>{{ course.comment.all.count }}</h4>
                        {% for comment in course_comment.get_parent %}
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="{% static 'assets/img/blog/comment_1.png' %}" alt="">
                                    </div>
                                    <div class="desc">
                                        <p class="comment">
                                            {{ comment.text }}
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="#">{{ comment.user }}</a>
                                                </h5>
                                                <p class="date">{{ comment.created_comment }}</p>
                                            </div>
                                            <div class="reply-btn">
                                                <a href="#" class="btn-reply text-uppercase">reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="comment-form">
                        <h4>Leave a Reply</h4>
                        <form class="form-contact comment_form" method="post" id="commentForm">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="hidden" name="comment" value="{{ comment.id }}">
                     <textarea class="form-control w-100" name="text" id="comment" cols="30" rows="9"
                               placeholder="Write Comment"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="button button-contactForm btn_1 boxed-btn">Post Comment
                                </button>
                            </div>
                        </form>
                    </div>
                    {% else %}
                    <h4 style="color: red">Login user or Register to send message</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Area End -->
</main>
{% include 'includes/end.html' %}
<!-- Scroll Up -->

<div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->

<script src="{% static './assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static './assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static './assets/js/popper.min.js' %}"></script>
<script src="{% static './assets/js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static './assets/js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static './assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static './assets/js/slick.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static './assets/js/wow.min.js' %}"></script>
<script src="{% static '/assets/js/animated.headline.js' %}"></script>
<script src="{% static './assets/js/jquery.magnific-popup.js' %}"></script>

<!-- Date Picker -->
<script src="{% static './assets/js/gijgo.min.js' %}"></script>
<!-- Nice-select, sticky -->
<script src="{% static './assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static './assets/js/jquery.sticky.js' %}"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="{% static './assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static './assets/js/waypoints.min.js' %}"></script>
<script src="{% static './assets/js/jquery.countdown.min.js' %}"></script>
<script src="{% static './assets/js/hover-direction-snake.min.js' %}"></script>

<!-- contact js -->
<script src="{% static './assets/js/contact.js' %}"></script>
<script src="{% static './assets/js/jquery.form.js' %}"></script>
<script src="{% static './assets/js/jquery.validate.min.js' %}"></script>
<script src="{% static './assets/js/mail-script.js' %}"></script>
<script src="{% static './assets/js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="{% static './assets/js/plugins.js' %}"></script>
<script src="{% static './assets/js/main.js' %}"></script>

</body>
</html>