<div class="properties__card">
    <div class="properties__img overlay1">
        <a href="#"><img src="{{ course.course_media.image.url }}" width="340" height="207" alt=""></a>
    </div>
    <div class="properties__caption">
        <p>{{ course.owner }}</p>
        <h3><a href="{{ course.get_absolute_url }}">{{ course.title }}</a></h3>
        <p>{{ course.description | truncatewords:15 }}</p>
        <div class="properties__footer d-flex justify-content-between align-items-center">
            <div class="restaurant-name">
                <p><span>{{ course.course_like.all.count }} likes</span></p>
            </div>
        </div>
        <a href="{{ course.get_absolute_url }}" class="border-btn border-btn2">Find out more</a>
    </div>
</div>
