{% extends 'courses.html' %}
{% block content %}
<div class="courses-area section-padding40 fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <h2>Find courses</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for course in courses %}
            <div class="col-lg-4">
                <div class="properties properties2 mb-30">
                    {% include 'includes/card.html' %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% include 'includes/pagination.html' %}
    </div>
</div>
{% endblock %}